# Dependencies
/node_modules
/client/node_modules

# Environment Variables
# Never commit your secrets!
.env
/server/.env

# Compiled code folders
# These are generated automatically
/server/compiler/codes
/server/compiler/outputs

# Production build
/client/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE and OS files
.vscode
.idea
.DS_Store